<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<!-- ページタイトルの反映場所 -->
	<title>マップ</title>

	<!-- 共通の CSS 読込	-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/common.css}">

	<!-- 個別の JavaScript／CSS をインポート -->
	<th:block th:replace="~{__${library}__?:_}"></th:block>
</head>
<body>

	<!-- ヘッダー -->
	<div id="header">
		<div class="flex_space_between">
			<a th:href="@{${req} + '/'}">
				<img src="/image/logo.png" title="ロゴ" class="padding_s">
			</a>
			マップテスト
			<a th:href="@{${req} + '/'}">
				<img id="hero" src="/image_map/勇者.png" title="勇者">
			</a>
		</div>
	</div>

	<!-- メインコンテンツの埋め込み場所 -->
	<div id="main" th:insert="~{__${main}__}"></div>

	<!-- 共通の javascript 読込 -->
	<script type="text/javascript" th:src="@{/js/common2.js}"></script>
</body>
</html>